@import "tailwindcss";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* 🔒 Stops the whole page from scrolling */
  overscroll-behavior: none; /* 🚫 Stops the "rubber band" effect on iOS */
  touch-action: pan-y;
  -webkit-user-select: none; /* Optional: Stops text selection like an app */
  user-select: none;
}

#root {
  height: 100%;
  width: 100%;
}

/* Hide Scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}